.Visualizer {
  height: calc(100% - 60px);
  width: 100%;
}

#window {
  position: absolute;
  width:100%;
  height: calc(100% - 110px);

  bottom: 25px;

  display: flex;
  justify-content: center;
}